<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>图书管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/book-common.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="box-body">
    <h3 class="text-center mb-4">图书管理列表</h3>
    <div class="pull-left">
        <div class="btn-group">
            <a th:href="@{/book/admin/add}" class="btn btn-default">
                <i class="fa fa-plus"></i> 新增图书
            </a>
        </div>
    </div>
    <div class="table-box table-responsive">
        <!-- 数据表格 -->
        <table id="dataList" class="table table-bordered text-center">
            <thead>
            <tr>
                <th>图书名称</th>
                <th>图书作者</th>
                <th>出版社</th>
                <th>价格</th>
                <th>库存</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.name}">图书名称</td>
                    <td th:text="${book.author}">作者</td>
                    <td th:text="${book.publisher}">出版社</td>
                    <td th:text="${#numbers.formatDecimal(book.price, 1, 2)}">价格</td>
                    <td th:text="${book.stock}">库存</td>
                    <td class="text-center">
                        <a th:href="@{/book/admin/edit/{id}(id=${book.id})}" class="btn bg-olive btn-xs">
                            <i class="fa fa-edit"></i> 编辑
                        </a>
                        <a th:href="@{/book/admin/delete/{id}(id=${book.id})}" class="btn bg-olive btn-xs" 
                           onclick="return confirm('确定要删除该图书吗？')">
                            <i class="fa fa-trash"></i> 删除
                        </a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(books)}">
                    <td colspan="6" class="text-center">暂无图书数据</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
