<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">欢迎访问</h2>
                    </div>
                    <div class="card-body">
                        <p class="text-center">这是一个公开的页面，任何人都可以访问。</p>
                        <div class="text-center mt-4">
                            <a href="/admin" class="btn btn-primary me-2">进入后台</a>
                            <a href="/login" class="btn btn-outline-primary">登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html> 